* {
  margin: 0;
  padding: 0;
}

ion-icon {
  cursor: pointer;
}

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #521d1d;
  color: white;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 25px;
  padding: 0.9rem;
}

#container {
  display: flex;
  justify-content: center;
}

#container div {
  margin-right: 2rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

#container div > input {
  height: 100%;
  border: none;
  border-right: 1px solid #ddd;
}

#messages {
  height: 59vh;
  margin-bottom: 2rem;
  overflow: auto;
  background: #f5f5f5;
  width: 30vw;
}

.message_container {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  word-wrap: break-word;
}

.pseudo {
  text-decoration: underline;
  margin: 5px;
  display: flex;
}

.message {
  padding: 5px;
  margin-left: 10px;
}

.imagePseudo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.smiley {
  cursor: pointer;
  font-size: 2rem;
}
